---
title: An inquiry concerning the indications of insanity, with suggestions for the better protection and care of the insane
layout: bedlam.hbs
book: Insanity
---

<div class="osd-player">
  <div id="player" class="osd-player__container"></div>
</div>
<div id="drawer">.</div>
