---
title: Wellcome — Bedlam
reactView: debug
---
<div id="player" style="position: fixed; top:30px;bottom:0;left:0;right:0;background: #FFF;opacity: 1;"></div>
<div id="drawer" style="position: absolute; top: 0;right:0;width: 250px;bottom: 0"></div>
