---
title: Lo-fi version
layout: nonjs.hbs
---

<div id="bedlam-player">
  <div class="player-title">
    Page title 1 of 300
  </div>
  <div class="player-image" id="image">
    <a class="player-image__link" href="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/1500,/0/default.jpg">
      <img alt="zoom image" class="player-image__image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/350,/0/default.jpg" />
    </a>
  </div>
  <div class="player-actions">
    <div class="player-actions__slider">
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail player-actions__slider-thumbnail--current">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
      <a href="#" class="player-actions__slider-thumbnail">
        <img alt="something image" src="https://dlcs.io/iiif-img/wellcome/1/629a5524-0345-48a7-a5b6-524f0db88cbf/full/30,/0/default.jpg" />
      </a>
    </div>
    <div class="player-actions__navigation">
      <a href="#" class="player-actions__prev-page">Prev</a>
      <a href="#" class="player-actions__next-page">Next</a>
    </div>
  </div>
  <a href="#annotation" class="player-hint">Scroll to see more</a>
  <div class="player-annotations" id="annotation">
    <div class="player-annotations__title">Some title.</div>
    <div class="player-annotations__content">
      <p>Lorem ipsum dolor sit amet, nec diam repudiandae cu. Aeterno reprimique sadipscing per id, ad eos graecis detracto delicatissimi. Sea mundi commune ne, te mea persius fastidii contentiones, nemore neglegentur his in. Pro debet incorrupte ei, cu hinc omnis cetero duo.</p>

      <p>Aliquam civibus dignissim mea an, habeo autem principes at ius. Ea dicta ancillae est, ad est quod dicta. Ad solet iuvaret fuisset has, mel nulla harum omittantur te, an mel quando fabulas. No pri euripidis expetendis, consul cetero voluptatibus usu ut, mutat posidonium intellegebat pri an.</p>

      <p>Cu vix inani feugait molestie, cotidieque eloquentiam ne sea, in duo atqui liberavisse. Sea ex exerci platonem, et est laoreet dolores. Laboramus assueverit cum an, mollis dolorem deseruisse eos cu, prompta detraxit disputando per et. Case munere pertinax ex sea. Putent forensibus his eu, incorrupte repudiandae id vim, purto minimum sapientem quo an.</p>

      <p>Nibh possit per id, ad mei malis graeci ceteros. Vel an nostro erroribus, eum ne suas soleat postea. Quo modo velit partem cu. Ei lorem dolorem mel. Usu ad debet gubergren, malis mandamus reprimique te per. Ius id vide labore iracundia, per eu constituto deseruisse incorrupte.</p>

      <p>Eu similique deterruisset ius, aeterno efficiendi efficiantur no est. Eu autem altera nonumes eam. Fierent accumsan tacimates est in, sumo lobortis ad cum. Utroque scriptorem qui eu, ei qui detraxit reprimique. Nec dicunt scriptorem eu. Eum ne laoreet corpora interpretaris, eu eleifend voluptatum sea.</p>
    </div>
    <a href="#image" class="player-hint">Back to image</a>
  </div>
</div>
