---
title: Quilt
layout: quilt.hbs
view: quilt
---

<div class="osd-player osd-player--quilt">
  <div id="player" class="osd-player__container"></div>
</div>
<div id="drawer" class="quilt-container" style="position: fixed; top: 0;right:0;width: 350px;bottom: 0;z-index: 100000;overflow: scroll;">.</div>
<style>
  polygon {
    fill: transparent;
    stroke: teal;
    stroke-width: 10px;
    display: none;
  }
</style>
