---
title: Quilt
layout: quilt.hbs
view: prototype
---

<div class="osd-player osd-player--quilt">
  <div id="player" class="osd-player__container"></div>
</div>
<div id="drawer" class="quilt-container">loading...</div>
<style>
  polygon {
    fill: transparent;
    stroke: teal;
    stroke-width: 10px;
    display: none;
  }
</style>
